{% extends "base.html" %}

{% block content %}
<section>
    <h1>{{ title }}</h1>
    <p>{{ cta }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <label for="{{ form.username.id_for_label }}">Username
            {{ form.username }}
            {{ form.username.errors }}
        </label>
        <label for="{{ form.password.id_for_label }}">Password
            {{ form.password }}
            {{ form.password.errors }}
        </label>
        <button type="submit">Login</button>
    </form>
    <p>Need an account? <a href="/auth/register/">Register here</a>.</p>
</section>
{% endblock %}
