{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}


  <div class="module" style="margin-bottom: 3rem;max-width: fit-content;">
    <h2>Account test data</h2>
    <p style="margin-top: 1rem;">Open the generators to create sample recovery, fatigue, and exercise logs for all accounts.</p>
    <p style="margin-top: 1rem;">
      <a class="button default" href="{% url 'admin:account-test-data' %}" style="padding: 0.5rem;">
        Go to account test data generators
      </a>
    </p>
  </div>

  {% if app_list %}
    {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
  {% else %}
    <p>{% translate "You don't have permission to view or edit anything." %}</p>
  {% endif %}

{% endblock %}
